<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>R</key>
	<dict>
		<key>V</key>
		<integer>-100</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-200</integer>
		<key>o</key>
		<integer>-120</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>b</key>
		<integer>-50</integer>
		<key>y</key>
		<integer>-60</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>k</key>
		<integer>-40</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>-90</integer>
		<key>e</key>
		<integer>-90</integer>
		<key>f</key>
		<integer>-90</integer>
		<key>i</key>
		<integer>-40</integer>
		<key>j</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-90</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>p</key>
		<integer>-10</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>o</key>
		<integer>20</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>v</key>
		<integer>-45</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>m</key>
		<integer>-40</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-35</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-30</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-60</integer>
		<key>e</key>
		<integer>-45</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-30</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>-30</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-120</integer>
	</dict>
</dict>
</plist>
